body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;

}
h1, h2, h3 { font-family: 'Montserrat', sans-serif;}

button {
    background-color: #4B0082;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #4B0082;
  }

  table {
    width: 70%;
    border-collapse: collapse;
    border-radius: 4px;
    height: 700px;
  }

  th {
    background-color: #4B0082;
    color: white;
    padding: 10px;
    text-align: center;
  }

  td {
    padding: 10px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  button {
    background-color: #008CBA;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #005f6b;
  }

  tfoot td {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }